---
layout: default
---

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function() {
    // Remove border from the last .archive-item
    $('.archive-item:last').css('border-bottom', 'none');
  });
</script>

<div class="archive">
  {% for post in site.posts %} {% assign currDate = post.date | date: "%Y" %} {%
  if currDate != date %}
  {% assign date = currDate %} {% endif %}
<div class="archive-title">
  <a href="{{ post.url | relative_url }}" class="archive-title fs-6">{{ post.title }}</a>
  <div class="archive-item">
    <span class="post-date archive-date fs-6">{{ post.date | date: "%b %d, %Y" }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </div>
</div>

  {% endfor %}
</div>
