table {
  @extend .table;
  @extend .table-striped;
}

blockquote {
  @extend .blockquote;
}

img {
  @extend .img-fluid;
  margin-bottom: 1rem;
}

.navbar {
  margin-right: auto;
  margin-bottom: 1rem;
  border-bottom: none;
}

.archive-year {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.archive-date {
  color: #8e8b8ba1;
}

.archive-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc; /* Add a separator line with a color of your choice */
  padding-bottom: 1rem; /* Add some space between the separator and the next post */
}

.footer-container {
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
  text-decoration: none;
  color: #212529;
}

.archive-title {
  text-decoration: none;
  color: #212529; /* Set the default text color */
  transition: color 0.3s; /* Add a smooth transition for the text color */
}

/* Hover styles */
.archive-title:hover {
  color: rgba(112, 106, 106, 0.59); /* Set the text color on hover */
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}

@media (prefers-color-scheme: dark) {
  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  .navbar {
    margin-bottom: 1rem;
    border-bottom: none;
  }

  .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  }

  .archive-item {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(112, 106, 106, 0.59); /* Add a separator line with a color of your choice */
    padding-bottom: 1rem; /* Add some space between the separator and the next post */
  }

  .archive-title {
    text-decoration: none;
    color: #ffffff; /* Set the default text color */
    transition: color 0.3s; /* Add a smooth transition for the text color */
  }

  /* Hover styles */
  .archive-title:hover {
    color: rgba(113, 106, 106, 0.59); /* Set the text color on hover */
  }

  .light-avatar {
    display: none !important;
  }
  .dark-avatar {
    display: inline-block !important;
  }
}
